
/* GLOBALS */
/* --------------------------------------------------- */

.paragraphs-subform .form-wrapper {
  margin-bottom: 10px;
}

.description {
  color: #888888 !important;
}

/* Page title */

.node-form .field--name-title {
  width: 100%;
}
.node-form .field--name-title input.form-text {
  width: 100%;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.node-form .field--name-field-hide-page-title {
  margin-top: -11px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #bfbfbf;
  border-top: 0 none;
}
.node-form .field--name-field-hide-page-title .form-item {
  margin: 0;
}

/* THEME SETTINGS */
/* --------------------------------------------------- */

.system-theme-settings #edit-theme-settings,
.system-theme-settings #edit-logo,
.system-theme-settings #edit-favicon {
  display: none !important;
}
.system-theme-settings .theme-settings-intro {
  margin-bottom: 30px;
}

/* PARAGRAPHS */
/* --------------------------------------------------- */

.paragraph-type-title .extra-markup {
  margin: 5px 0;
  color: #888888;
}

/* Layout settings */

.form-wrapper-layout-settings {
  background-color: #f7f7f7;
}

.form-wrapper-layout-settings .form-wrapper label {
  display: inline-block;
  width: 160px;
}

.field--name-field-title-align label:after,
.field--name-field-text-align label:after,
.field--name-field-paragraph-width label:after {
  display: none;
}

/* Title fields */

.title-style-group .field--type-list-string {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.title-style-group .field--type-list-string label {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}
.title-style-group .field--type-string {
  float: left;
}
.title-style-group .field--type-string label {
  margin-left: -70px;
}

/* Cal to action */

.field--name-field-call-to-action .field-multiple-table thead {
  display: none;
}
.field--name-field-call-to-action .field-multiple-table .form-item {
  float: left;
  width: 30%;
  margin-right: 10px;
}
.field--name-field-call-to-action .field-multiple-table .form-type-select {
  width: 20%;
  margin-top: 5px;
  margin-right: 10px;
}
.field--name-field-call-to-action .field-multiple-table .form-item:last-child {
  width: 15%;
  margin-right: 0;
}
.field--name-field-call-to-action .field-multiple-table .description {
  display: none;
}


/* FORMS */
/* --------------------------------------------------- */
.field--type-text-with-summary .filter-wrapper { padding: 0; border: none; }

/* MEDIA */
/* --------------------------------------------------- */

.eb-tabs ul { border: none; }

.view-image-select img {
  border: 2px solid #cccccc;
  max-width: 95%;
  max-height: 100%;
  height: auto;
}

.view-image-select .views-row {
  float: left;
}

.view-image-select .selected img {
  border: 2px solid #0074bd;
}

input[name ^="entity_browser_select"] { display: none;  }

input[id $="entity-browser-open-modal"] { margin-bottom: 15px;  }


/* HIDE STUFF */
/* --------------------------------------------------- */
details[data-drupal-selector="edit-display"],
details[data-drupal-selector="edit-access"],
details[data-drupal-selector="edit-access-create"],
details[data-drupal-selector="edit-access-update"],
details[data-drupal-selector="edit-access-view"],
details[data-drupal-selector="edit-admin"],
details[data-drupal-selector="edit-custom"],
details[data-drupal-selector="edit-conditional"],
details[data-drupal-selector="edit-element-attributes"],
details[data-drupal-selector="edit-wrapper-attributes"],
.form-item-replace-upload { display: none; }